@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'logo';
    src: url('../fonts/SonderSans-BlackRough.otf');
}

/*COLORES DE TEXTO AL SELECCIONAR CON EL RATÓN*/
::selection {
    background-color: #4dbbd1; 
    color: #074347; 
  }

:root {
	--primary-color: #FD7C07;
	--background-color: #f9f5f0;
	--dark-color: #151515;
	--transition: all 0.3s ease-in-out;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: white;
	box-shadow: 0.10px 0.25px 7px #000000;
    position: fixed; /* Fijamos el header en la parte superior */
    width: 100%; /* Para ocupar todo el ancho de la pantalla */
    z-index: 1000; /* Aseguramos que esté encima de otros elementos */
	
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.3rem 0;
	
}


.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

/*imagen logo*/
.container-logo img {
	max-width: 5.4rem;
}

/*Nombre empresa*/
.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 2.6rem;
	text-transform: uppercase;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: #FD7C07;
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.cart-btn {
	margin-right: 15px;
	font-size: 3rem;
	color: #FD7C07;
	padding-left: 1rem;
	background: transparent;
	border: none;
	color: #FD7C07;
	position: relative;
	cursor: pointer;
  }
  
  

  /* ********************************** */
  /*    CARTAS DE LOGIN Y REGISTRO      */
  /* ********************************** */

  .login {
		position: fixed;
		top: 50%; /* Lo colocamos en la mitad del viewport verticalmente */
		left: 50%; /* Lo colocamos en la mitad del viewport horizontalmente */
		transform: translate(-50%, -50%); /* Lo movemos hacia arriba y hacia la izquierda la mitad de su propio ancho y alto */
		background-color: rgba(0, 0, 0, 0.5); 
		height: 100vh;
		width: 100vw;
		z-index: -1; 
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: inherit;
	}
	
	.login h2{
		margin-top: 10px;
		margin-left: 3px;
		font-size: 2rem;
	}

	.login h2 span{
		position: relative;
		z-index: 0;
	}
	
	.login h2 span::before{
		content: '';
		position: absolute;
		bottom: 0.4rem;
		left:0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background: #4dbbd18f;
		clip-path: polygon(0 95%, 100% 80%, 100% 100%, 0% 100%);
	}

	.login p{
		margin-left: 4px;
		font-size: 1.2rem;
	}

	
	.register {
		position: fixed;
		top: 50%; /* Lo colocamos en la mitad del viewport verticalmente */
		left: 50%; /* Lo colocamos en la mitad del viewport horizontalmente */
		transform: translate(-50%, -50%); /* Lo movemos hacia arriba y hacia la izquierda la mitad de su propio ancho y alto */
		background-color: rgba(0, 0, 0, 0.5); 
		height: 100vh;
		width: 100vw;
		z-index: -1;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: inherit;
	}

	.register h2{
		margin-top: 10px;
		margin-left: 3px;
		font-size: 2rem;
	}

	.register h2 span{
		position: relative;
		z-index: 0;
	}
	
	.register h2 span::before{
		content: '';
		position: absolute;
		bottom: 0.4rem;
		left:0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background: #4dbbd18f;
		clip-path: polygon(0 95%, 100% 80%, 100% 100%, 0% 100%);
	}
	
	.form-container {
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		padding: 20px;
		margin-bottom: 20px;
	}
	

	#login-email {
		width: 400px;
		padding: 10px;
		margin-top: 20px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		font-family: inherit;
	}
	
	#login-password {
		width: 100%;
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		font-family: inherit;
	}

	#register-email {
		width: 400px;
		padding: 10px;
		margin-top: 20px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		font-family: inherit;
	}
	
	#register-password {
		width: 100%;
		padding: 10px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		font-family: inherit;
	}
		
	
	.botonUser{
		text-decoration: none;
		color: #fff;
		background-color: #FD7C07;
		display: inline-block;
		padding: 1rem 3rem;
		border-radius: 3rem;
		font-size: 1.4rem;
		border: none;
	
		font-family: inherit;
		box-shadow: inset 0 0 0 0 #FD7C07;
		-webkit-transition: ease-out 0.4s;
		-moz-transition: ease-out 0.4s;
		transition: ease-out 0.4s;

		margin-bottom: 20px;
	}
	
	.botonUser:hover {
		box-shadow: inset 0 100px 0 0 #2DA2B9;
		color: #FFF;
	}
	
	.botonUser:active {
		box-shadow: inset 0 100px 0 0 #4dbbd1;
	}

	
	
	.cerrar{
		height: 30px;
		width: 30px;
		background-color: transparent;
		border-style: solid;
		border-radius: 100px;
		border-color: #e2e2e2;
		cursor: pointer;
	}

	.cerrar .fa-xmark{
		font-size: 1.6rem;
	}
	
	.cerrar:hover{
		background-color: #e2e2e2;
	}

/* ********************************** */
/*            CARRITO                 */
/* ********************************** */

.reserva-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.reserva-container h3{
	font-size: 1.6rem;
}

.reserva-container h5{
	font-size: 1.3rem;
}

.reserva-container p{
	font-size: 1.2rem;
}
 
/* máscara oscura que se desplega a la vez que el apartado del carrito */ 
.cart-overlay {
	z-index: 1000;
	position: fixed;
	inset: 0;
	opacity: 0.5;
	visibility: hidden;
	cursor: pointer;
	background: #333;
	transition: var(--transition);
  }
  
  .cart-overlay.show {
	visibility: visible;
  }
  
  /* carrito */
  .cart {
	z-index: 1000;
	position: fixed;
	inset-block: 0;
	right: 0;
	width: 100%;
	max-width: 420px;
	padding: 20px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	transform: translateX(100%);
	transition: var(--transition);
	background: white;
  }
  
  .cart.show {
	transform: none;
  }
  
  .cart-header {
	position: relative;
	text-align: center;
	padding-block: 10px;
	border-bottom: 1px solid #ddd;
  }

  .cart-header h2{
	font-size: 1.6rem;
  }
  
  .cart-close {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.5rem;
	cursor: pointer;
  }
  
  .cart-body {
	display: grid;
	align-content: start;
	gap: 20px;
	padding-block: 20px;
	overflow: auto;
  }

  
  /* hide footer if the cart is empty */
  .cart-body:has(.cart-empty) + .cart-footer {
	display: none;
  }
  
  .cart-empty {
	text-align: center;
	padding-block: 20px;
	font-size: 1.25rem;
	color: red;
  }
  
  .cart-item {
	display: flex;
	gap: 10px;
  }
  
  .cart-item img {
	width: 100px;
	height: 100px;
	object-fit: contain;
  }
  
  .cart-item-detail {
	display: flex;
	flex-direction: column;
	flex: 1;
  }
  
  .cart-item-detail h3 {
	font-size: 1rem;
	color: red;
  }
  
  .cart-item-detail h5 {
	color: red;
  }
  
  .cart-item-amount {
	margin-top: auto;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1.25rem;
  }
  
  .cart-item-amount .bi {    /*ojo que aquí pone .bi, que es de la biblioteca de imagenes. Habrá que cambiarlo por .fa-solid */
	cursor: pointer;
	opacity: 0.25;
  }
  
  .cart-item-amount .bi:hover {  /*lo mismo*/
	opacity: 1;
  }
  
  .cart-item-amount .qty {
	width: 2rem;
	text-align: center;
  }
  
  .cart-item-price {
	margin-left: auto;
  }
  
  .cart-footer {
	border-top: 1px solid #ddd;
	padding-block: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
  }
  
  .cart-footer div {
	grid-column: 1 / -1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.4rem;
	margin-bottom: 10px;
  }
  
  .cart-footer strong {
	color: black;
  }
  
  .cart-footer button {
	padding-block: 10px;
  }

  .cart-clear {
    text-decoration: none;
	color: #000000;
	background-color: #e2e2e2;
	display: inline-block;
	padding: 1rem 3rem;
	border-radius: 3rem;
	font-size: 1.4rem;
	border: none;

	font-family: inherit;
	box-shadow: inset 0 0 0 0 #e2e2e2;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
	}

	.cart-clear:hover {
		box-shadow: inset 0 100px 0 0 #000000;
		color: #FFF;
	}

	.cart-clear:active {
		box-shadow: inset 0 100px 0 0 #313131;
	}

  .checkout {
    text-decoration: none;
	color: #fff;
	background-color: #FD7C07;
	display: inline-block;
	padding: 1rem 3rem;
	border-radius: 3rem;
	font-size: 1.4rem;
	border: none;

	font-family: inherit;
	box-shadow: inset 0 0 0 0 #FD7C07;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.checkout:hover {
	box-shadow: inset 0 100px 0 0 #2DA2B9;
    color: #FFF;
}

.checkout:active {
    box-shadow: inset 0 100px 0 0 #4dbbd1;
}


/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner {
	background-image: linear-gradient(100deg, #000000, #00000020),
		url('../images/Imagen23.jpg');
	height: 85rem;
	background-size: cover;
	background-position: center;
}

.content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 48rem 0;
}

.content-banner p {
	color: #FD7C07;
	font-size: 1.4rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h2 {
	color: #fff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.content-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: #FD7C07;
	display: inline-block;
	padding: 1rem 3rem;
	border-radius: 3rem;
	font-size: 1.4rem;

	box-shadow: inset 0 0 0 0 #FD7C07;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.content-banner a:hover {
	box-shadow: inset 0 100px 0 0 #2DA2B9;
    color: #FFF;
}

.content-banner a:active {
    box-shadow: inset 0 100px 0 0 #4dbbd1;
}

/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
	background-color: white;
}


/* ********************************** */
/*             CATEGORIES             */
/* ********************************** */

.top-categories {
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-category {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

.category-moca {
	background-image: linear-gradient(#00000080, #00000080),
		url('../images/Imagen10.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-capuchino {
	background-image: linear-gradient(#00000080, #00000080),
		url('../images/Imagen20.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-expreso {
	background-image: linear-gradient(#00000080, #00000080),
		url('../images/Imagen11.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-category p {
	font-size: 2.5rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category span {
	font-size: 1.6rem;
	cursor: pointer;
}
.card-category span a {
	text-decoration: none;
	color: #fff;
}

.card-category span a:hover {
	color: var(--primary-color);
}

/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
	padding-bottom: 85px;
	border-image: linear-gradient(to right, transparent, #f3f3f7, #f3f3f7,#f3f3f7, transparent); /* Aplica una imagen de borde que cubre el 80% de la longitud */
	border-image-slice: 1;
	border-bottom: 3px solid #f3f3f7;
}

.card-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	background-color: #fff;
	border-radius: 1rem;
	padding: 1.5rem 0;
}

.card-feature i {
	font-size: 2.7rem;
	color: var(--primary-color);
}

.feature-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.feature-content span {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-color);
}

.feature-content p {
	color: #777;
	font-weight: 500; 
	font-size: 1rem;
}

.reserva-image{
	max-width: 250px;
}



#show-reservations{
	text-decoration: none;
	color: #fff;
	background-color: #FD7C07;
	display: inline-block;
	padding: 0.5rem 2rem;
	border-radius: 3rem;
	font-size: 1.3rem;
	border: none;
	font-family: inherit;
	box-shadow: inset 0 0 0 0 #FD7C07;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

	margin-top: 10px;
	margin-left: 0.7em;
}

#show-reservations:hover{
	box-shadow: inset 0 100px 0 0 #2DA2B9;
    color: #FFF;
	cursor: pointer;
}

.id-coche{
	display: none;
}


/* ********************************** */
/*             ABOUT US               */
/* ********************************** */
.gallery {
    padding-top: 60px;
    padding-bottom: 70px;
    flex-direction: row;
    gap: 30px;
    display: flex;
    justify-content: center; /*centrarlo en horizontal*/
}

.gallery-item {
    flex: 0 0 25%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.gallery-item img {
	width: 340px;
	height: 510px;
    border-radius: 30px;
    margin: 20px;
}

.text {
    padding: 20px;
    text-align: justify;
}

#tit1{
	font-size: 3rem;
	font-weight: 500;
    padding-bottom: 20px;
}

#tit1 span{
	position: relative;
	z-index: 0;
}

#tit1 span::before{
	content: '';
	position: absolute;
	bottom: 0.4rem;
	left:0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: #4dbbd18f;
	clip-path: polygon(0 95%, 100% 80%, 100% 100%, 0% 100%);
}

#tit2{
    padding-bottom: 20px;
	font-size: 1.4rem;
}


#boton_inicio {
    text-decoration: none;
	color: #fff;
	background-color: #FD7C07;
	display: inline-block;
	padding: 1rem 3rem;
	border-radius: 3rem;
	font-size: 1.4rem;
	border: none;

	font-family: inherit;
	box-shadow: inset 0 0 0 0 #FD7C07;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

#boton_inicio:hover {
	box-shadow: inset 0 100px 0 0 #2DA2B9;
    color: #FFF;
}

#boton_inicio:active {
    box-shadow: inset 0 100px 0 0 #4dbbd1;
}

/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */
.top-products {
	padding-top: 80px;
	padding-bottom: 70px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.heading-1 span{
	position: relative;
	z-index: 0;
}

.heading-1 span::before{
	content: '';
	position: absolute;
	bottom: 0.4rem;
	left:0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: #4dbbd18f;
	clip-path: polygon(0 95%, 100% 80%, 100% 100%, 0% 100%);
}

.container-options {
	display: none;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span {
	color: #074347;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
	transition: 0.3s;
}

.container-options span:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.container-options span.active {
	background-color: var(--primary-color);
	color: #fff;
}

/* Products */
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 3rem;
}

.coche-container {
	background-color: #ffffff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	max-width: 800px;
}


.coche-container img {
	width: 100%;
	max-height: 500px;
	
}

.coche-container h3 {
	margin-left: 1.8rem;
	font-size: 1.6rem;
}

.coche-container h5{
	margin-left: 1.8rem;
	font-size: 1.3rem;
}

.coche-container p{
	margin-left: 1.8rem;
	font-size: 1.3rem;
}

.coche-container button {
    text-decoration: none;
	color: #fff;
	background-color: #FD7C07;
	display: inline-block;
	padding: 0.5rem 2rem;
	border-radius: 3rem;
	font-size: 1.3rem;
	border: none;
	font-family: inherit;
	box-shadow: inset 0 0 0 0 #FD7C07;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

	margin-top: 10px;
	margin-left: 0.7em;
}

.coche-container button:hover {
	box-shadow: inset 0 100px 0 0 #2DA2B9;
    color: #FFF;
	cursor: pointer;
}

.coche-container button:active {
    box-shadow: inset 0 100px 0 0 #4dbbd1;
}

/* Formulario búsqueda de coches */
#formulario-fechas{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-bottom: 3rem;
	margin-top: 3rem;
	max-width: 100%;
}

.fecha-container{
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}

.fecha-container input{
	width: 250px;
}

#load-available-cars{
	text-decoration: none;
	color: #fff;
	background-color: #FD7C07;
	display: inline-block;
	padding: 1rem 3rem;
	border-radius: 3rem;
	font-size: 1.3rem;
	border: none;
	margin-top: 8px;
	font-family: inherit;
	box-shadow: inset 0 0 0 0 #FD7C07;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

#load-available-cars:hover {
	box-shadow: inset 0 100px 0 0 #2DA2B9;
    color: #FFF;
}

#load-available-cars:active {
    box-shadow: inset 0 100px 0 0 #4dbbd1;
}



/* ********************************** */
/*              REVIEWS               */
/* ********************************** */

.reviews{
	padding-top: 80px;
    padding-bottom: 70px;
	border-top: 3px solid #f3f3f7;
	border-image: linear-gradient(to right, transparent, #f3f3f7, #f3f3f7,#f3f3f7, transparent); /* Aplica una imagen de borde que cubre el 80% de la longitud */
	border-image-slice: 1;
	border-bottom: 3px solid #f3f3f7;
}

.reviews .reviews-slider{
	padding-bottom: 3rem;
}

.reviews .reviews-slider .box{
	padding: 2rem ;
	margin: 2rem 0;
	text-align: center;
	opacity: .4;
	transform: scale(.9);
}

.reviews .reviews-slider .swiper-slide-active{
	opacity: 1;
	transform: scale(1);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	border: 0.1rem solid #00000027; 
	border-radius: 2rem;
}

.reviews .reviews-slider .box img{
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	margin-bottom: 1rem;
}

.reviews .reviews-slider .box .content p{
	font-size: 1.4rem;
	color: rgb(68, 68, 68);
	padding: 1rem 0;
}

.reviews .reviews-slider .box .content h3{
	font-size: 2.2rem;
	color: black;
	padding-bottom: .5rem;
}

.reviews .reviews-slider .box .content i{
	font-size: 1.7rem;
	color: rgb(255, 145, 0);
}

.reviews .reviews-slider .swiper-pagination-bullet-active{
	background: #4dbbd1;
}



/* ********************************** */
/*                BLOGS               */
/* ********************************** */


.blogs {
	padding-top: 80px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 500px;
	border-top: 3px solid #f3f3f7;
	border-image: linear-gradient(to right, transparent, #f3f3f7, #f3f3f7, #f3f3f7, #f3f3f7,#f3f3f7, transparent); /* Aplica una imagen de borde que cubre el 80% de la longitud */
    border-image-slice: 1; /* Establece la división de la imagen del borde */
	border-bottom: 2px solid #f3f3f7;
}

.container-blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5rem;
	
}

.card-blog {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.card-blog .container-img {
	border-radius: 2rem;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.button-group-blog {
	position: absolute;
	bottom: 1.5rem;
	right: -2.5rem;
	display: flex;
	gap: 0.7rem;
	z-index: -1;
	transition: all 0.3s ease;
}

.card-blog:hover .button-group-blog {
	z-index: 0;
	right: 1.5rem;
}

.button-group-blog span {
	background-color: #fff;
	padding: 1rem;
	border-radius: 50%;
	transition: all 0.4s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-group-blog span i {
	font-size: 1.3rem;
}

.button-group-blog span:hover {
	background-color: var(--primary-color);
}

.button-group-blog span:hover i {
	color: #fff;
}

.content-blog h3 {
	font-size: 1.8rem;
	margin-bottom: 1.7rem;
	color: var(--dark-color);
	font-weight: 500;
}

.content-blog h3:hover {
	color: var(--primary-color);
	cursor: pointer;
}

.content-blog p {
	margin-top: 1rem;
	font-size: 1.4rem;
	color: #777;
	text-align: justify;
}

.content-blog span {
	color: var(--primary-color);
	font-size: 1.3rem;
}

.btn-read-more {
	padding: 1rem 3rem;
	background-color: var(--primary-color);
	color: #fff;
	font-size: 1.4rem;
	border-radius: 2rem;
	margin: 3rem 0 5rem;
	display: inline-block;
	cursor: pointer;

	box-shadow: inset 0 0 0 0 #FD7C07;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
	}
	
	.btn-read-more:hover {
	box-shadow: inset 0 100px 0 0 #2DA2B9;
	color: #FFF;
	}
	
	.btn-read-more:active {
	box-shadow: inset 0 100px 0 0 #4dbbd1;
	}

	.container-img img {
		width: 100%;
		max-height: 125px;
	}
	
	#imgblog1{
		max-height: none;
	}

/* ********************************** */
/*       FOTO DE FONDO - RUPTURA      */
/* ********************************** */
.fullscreen-image img.horizontal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Para colocar la imagen detrás del contenido */
	object-fit: cover; 
}


/* ********************************** */
/*            CONTACTO                */
/* ********************************** */

/*Distribución formulario*/
.seccion-contacto {
	padding-top: 6rem;
	padding-bottom: 6rem;
	max-width: 100%;
	background-color: white;
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content:center;
	gap: 50px;
    width: 100%;
}
    

/*Logo formulario*/
#logo-formulario {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 40%;
}

#logo-formulario img{
	max-width: 70%;
}


/*Formulario de contacto*/
.form-container-contacto {
    width: 500px;
}

.contact-form h1 {
    padding-bottom: 20px;
    text-align: left;
	font-weight: 500;
    font-size: 3rem;
}

.contact-form h1 span{
	position: relative;
	z-index: 0;
}

.contact-form h1 span::before{
	content: '';
	position: absolute;
	bottom: 0.4rem;
	left:0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: #4dbbd18f;
	clip-path: polygon(0 95%, 100% 80%, 100% 100%, 0% 100%);
}

form {
    display: flex;
    flex-direction: column;
	width: 100%;
}

label {
	font-size: 1.4rem;
    margin-bottom: 5px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;  /*evitar que se pueda modificar el tamaño*/
	font-family: inherit;
	font-size: 1.4rem;
}

#boton_formulario {
    text-decoration: none;
	color: #fff;
	background-color: #FD7C07;
	display: inline-block;
	padding: 1rem 3rem;
	border-radius: 3rem;
	font-size: 1.4rem;
	border: none;
	font-family: inherit;
	width: 35%;
	
	box-shadow: inset 0 0 0 0 #FD7C07;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
	}
	
	#boton_formulario:hover {
	box-shadow: inset 0 100px 0 0 #2DA2B9;
	color: #FFF;
	}
	
	#boton_formulario:active {
	box-shadow: inset 0 100px 0 0 #4dbbd1;
	}
	

/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
	background-color: black;
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	color: #FD7C07;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: #2DA2B9;
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #ffffff;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
	color: #FD7C07;
}

#employee:hover{
	cursor: pointer;
}

#manager:hover{
	cursor: pointer;
}


/* ********************************** */
/*       MEDIA QUERIES -- 1500px       */
/* ********************************** */
@media (max-width: 1500px) {
	/* About us */
	.gallery-item {
		padding-left: 7rem;
		flex: 0 0 40%;
	}	
}

/* ********************************** */
/*       MEDIA QUERIES -- 1250px       */
/* ********************************** */
@media (max-width: 1250px) {
	/*.container-logo{
		background-color:rgb(0, 26, 255);
	}*/

	/* Header */
	.container-hero{
		padding-left: 5%;
		padding-right: 5%;
	}

	/* Sección banner */
	.banner{
		max-height: 76rem;
	}

	.content-banner{
		padding-top: 33rem;
		text-align: center;
	}

	/* Categorias */
	.top-categories,
	.container-features{
		padding-left: 5%;
		padding-right: 5%;
	}

	/* About us */
	.gallery-item {
		padding-left: 4rem;
		flex: 0 0 40%;
	}	

	/* Sección blogs */
	.blogs{
		padding-top: 6rem;
		padding-bottom: 3rem;
		margin-bottom: 400px;
	}

	.container-blogs {
		padding-left: 10%;
		padding-right: 10%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 5rem;
	}

}


/* ********************************** */
/*       MEDIA QUERIES -- 1150px       */
/* ********************************** */
@media (max-width: 1150px) {
	/*.container-logo{
		background-color:rgb(0, 255, 21);
	}*/

	/* Header */
	.container-hero{
		padding-left: 5%;
		padding-right: 5%;
	}

	/* Sección banner */
	.banner{
		max-height: 76rem;
	}

	.content-banner{
		padding-top: 33rem;
		text-align: center;
	}

	/* Categorias */
	.top-categories,
	.container-features{
		padding-left: 5%;
		padding-right: 5%;
	}

	/* Sección about us*/
	.gallery{
		flex-direction: column;
		padding-top: 3rem;
		padding-bottom: 4rem;
	}

	.gallery-item {
		padding-left: 0rem;
	}		

	.text{
		flex-direction: column;
		align-items: center;
		max-width: 80%;
		display: flex;
		justify-content: center;
	}

	#Cuadro2{
		display: none;
	}

	/* Sección blogs */
	.blogs{
		padding-top: 6rem;
		padding-bottom: 3rem;
		margin-bottom: 400px;
	}

	.container-blogs {
		padding-left: 10%;
		padding-right: 10%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 5rem;
	}

	#blog3{
		display: none;
	}

}	

/* ********************************** */
/*       MEDIA QUERIES -- 970px       */
/* ********************************** */
@media (max-width: 970px) {
	.contact-form{
		padding-right: 1rem;
	}
	.menu-footer {
		grid-template-columns: repeat(2, 1fr) 20rem;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
	/*.container-logo{
		background-color:rgb(255, 0, 0);
	}*/

	.container-logo h1 a{
		font-size: 1.7rem;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.container-options{
		display: none;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		
		text-align: center;
	}

	.feature-content span {
		
		text-align: center;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.information,
	.information ul{
		display: none;
	}

	.menu-footer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.copyright p{
		font-size: 1.3rem;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	/* Header */
	.container-hero{
		padding-left: 5%;
		padding-right: 5%;
	}

	/* Sección banner */
	.banner{
		max-height: 76rem;
	}

	.content-banner{
		padding-top: 33rem;
		text-align: center;
	}

	/* Sección categorías */
	.top-categories{
		padding-top: 6rem;
		margin-bottom: 2rem;
		gap: 3rem
	}

	.container-categories {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.4rem;
		padding-left: 3%;
		padding-right: 3%;
		font-size: 10px;
	}

	.card-category{
		max-height: 15rem;
	}

	.container-categories p{
		font-size: 1.4rem;
		text-align: center;
		padding-left: 5%;
		padding-right: 5%;
	}

	.container-categories span{
		font-size: 1.3rem;
	}


	.container-features {
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem 5rem;
		display: grid;
		gap: 1rem;
		padding-bottom: 4rem;
    }

	/* Sección about us*/
	.gallery{
		flex-direction: column;
		padding-top: 3rem;
		padding-bottom: 4rem;
	}
	

	.text{
		flex-direction: column;
		align-items: center;
		max-width: 90%;
		display: flex;
		justify-content: center;
	}

	#Cuadro2{
		display: none;
	}

	/* Sección coches */
	
	#formulario-fechas{
		flex-direction: column;
		justify-content: flex-start;
		max-width: 100%;
	}
	
	.fecha-container{
		margin-right: 0px;
	}
	
	.fecha-container input{
		width: 35rem;
	}
	
	#load-available-cars{
		width: 35rem;
	}
	

	/* Sección reviews */
	.reviews{
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.swiper-wrapper{
		padding-left: 5%;
	}

	.reviews .reviews-slider .swiper-slide-active{
		opacity: 1;
		transform: scale(1);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
		border: 0.1rem solid #00000027; 
		border-radius: 2rem;
		max-width: 90%;
		
	}

	/* Sección blog */
	.blogs{
		padding-top: 6rem;
		margin-bottom: 400px;
	}

	#blog2,
	#blog3{
		display: none;
	}

	/*Sección contacto*/
	.seccion-contacto{
		flex-direction: column-reverse;
	}

	.contact-form{
		width: 100%;
	}

	.form-container-contacto {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 10%;
	}
	
	.contact-form h1 {
		padding-bottom: 20px;
	}
	
	form {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	#boton_formulario{
		width: 100%;
	}
	
	label {
		font-size: 1.4rem;
		margin-bottom: 5px;
	}

	/* Login y registro */
	#login-form,
	#register-form
	{
		max-width: 40rem;
		
	}

	#login-email,
	#register-email{
		max-width: 100%;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
	/*.container-logo{
		background-color:yellow;
	}*/

	.container-logo h1 a{
		font-size: 1.7rem;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.container-options{
		display: none;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		
		text-align: center;
	}

	.feature-content span {
		
		text-align: center;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.information,
	.information ul{
		display: none;
	}

	.menu-footer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.copyright p{
		font-size: 1.3rem;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	/* Header */
	.container-hero{
		padding-left: 2%;
		padding-right: 0%;
	}

	/* Sección banner */
	.banner{
		max-height: 65rem;
	}

	.content-banner{
		padding-top: 29rem;
		text-align: center;
	}

	/* Sección categorías */
	.top-categories{
		padding-top: 6rem;
		margin-bottom: 2rem;
		gap: 3rem
	}

	.container-categories {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.4rem;
		padding-left: 3%;
		padding-right: 3%;
		font-size: 10px;
	}

	.card-category{
		max-height: 10rem;
	}

	.container-categories p{
		font-size: 1.5rem;
		text-align: center;
		padding-left: 5%;
		padding-right: 5%;
	}

	.container-categories span{
		font-size: 1.3rem;
	}


	.container-features {
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem 5rem;
		display: grid;
		gap: 1rem;
		padding-bottom: 4rem;
    }

	/* Sección about us*/
	.gallery{
		flex-direction: column;
		padding-top: 3rem;
		padding-bottom: 4rem;
	}
	

	.text{
		flex-direction: column;
		align-items: center;
		max-width: 90%;
		display: flex;
		justify-content: center;
	}

	#Cuadro2{
		display: none;
	}

	/* Sección coches */
	.top-products{
		padding-top: 5rem;
		padding-bottom: 6rem;
	}

	.container-products {
		flex-direction: column;
		align-items: center;
		display: flex;
		justify-content: center;
	}	

	.coche-container {
		flex-direction: column;
		align-items: center;
		max-width: 90%;
		display: flex;
		justify-content: center;
	}

	.coche-container h3 {
		margin-left: 0rem;
		font-size: 1.6rem;
	}
	
	.coche-container h5{
		margin-left: 0rem;
		font-size: 1.3rem;
	}
	
	.coche-container p{
		margin-left: 0rem;
		font-size: 1.3rem;
	}
	
	.coche-container button {
		padding: 1rem 2.5rem;
		border-radius: 3rem;
		font-size: 1.4rem;
		margin-left: 0em;
	}

	/* Sección reviews */
	.reviews{
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.swiper-wrapper{
		padding-left: 5%;
	}

	.reviews .reviews-slider .swiper-slide-active{
		opacity: 1;
		transform: scale(1);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
		border: 0.1rem solid #00000027; 
		border-radius: 2rem;
		max-width: 90%;
		
	}

	/* Sección blog */
	.blogs{
		padding-top: 6rem;
		max-height: 75rem;
		margin-bottom: 400px;
	}

	.container-blogs{
		padding-left: 5%;
		padding-right: 5%;
	}

	/*Sección contacto*/
	.seccion-contacto{
		flex-direction: column-reverse;
	}

	.contact-form{
		width: 100%;
	}

	.form-container-contacto {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 10%;
	}
	
	.contact-form h1 {
		padding-bottom: 20px;
	}
	
	form {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	#boton_formulario{
		width: 100%;
	}
	
	label {
		font-size: 1.4rem;
		margin-bottom: 5px;
	}

	.copyright p{
		padding-left: 1.6rem;
	}

	/* Login y registro */
	#login-form,
	#register-form
	{
		max-width: 35rem;
		
	}

	#login-email,
	#register-email{
		max-width: 100%;
	}
}
